html { background: #181818; }
body { background: #fff url('/images/bg_body.png') repeat-x top; color: #444; font: .8125em/1.462 "Helvetica Neue",Arial,sans-serif; margin: 0; -webkit-font-smoothing: antialiased; }

h1 { font: 900 3.69em/1.1875 "proxima-nova",sans-serif; color: #181818; text-transform: uppercase; margin: 0 0 20px; }
h2 { font: 1.692em/1.19 "proxima-nova",sans-serif; color: #181818; margin: 0 0 10px; -webkit-font-smoothing: subpixel-antialiased; }
h3 { font-size: 1.077em; margin: 0 0 10px; }

p { margin: 0 0 20px; }
.intro { font: 1.692em/1.272 "proxima-nova",sans-serif; color: #181818; padding: 0 40% 0 30px; margin: 0 0 30px; background: url('/images/bg_intro.png') repeat-y 0 0; -webkit-font-smoothing:subpixel-antialiased; }
.date { margin-bottom: 25px; color: #777; }

blockquote { margin: 0 0 15px; padding: 0; font: italic 1.17em/1.286 Georgia,serif; }

abbr { cursor: help; border: 0; }

img { border: none;}
a { color: #e78200; text-decoration: none; }
a:focus, a:hover { text-decoration: none; color: #ffa11c; }
.more>a { padding-left: 10px; background: url('/images/button_arrow_more.png') no-repeat left; font-size: 1.077em; font-weight: bold;  }
.back>a { padding-left: 20px; background: url('/images/button_arrow_back.png') no-repeat left; }

ul { padding: 0; margin: 0; margin-bottom: 30px;}
ul>li { list-style: none; background:url('/images/bg_bullet_list.png') no-repeat 0 5px; padding-left: 20px; margin-bottom: 13px;  }

hr { height: 2px; background: #eaeaea; margin: 3em 0; border: 0; clear: both; }

.button>a {  display: inline-block; padding: 7px 20px; background: #ffa11c; color: #181818; font-size: 1.077em; font-family: "proxima-nova",sans-serif; }
.panel { -webkit-font-smoothing: subpixel-antialiased; }

form { margin: 0 0 105px; background: #f0f0f0; padding: 35px 30px 25px; font-size: 1.077em; line-height: 1.429; }
fieldset { margin: 0; border: 0; padding: 0; }
fieldset>div { margin: 0 0 22px; }
fieldset>.buttons { padding-top: 20px; }
label { display: block; font-weight: bold; margin: 0 0 5px; }
input.text, textarea { border: 1px solid #e1e1e1; background: #fff; font: 1em sans-serif; padding: 11px; width: 465px; }
select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding-left:10px;
	font-family: arial;
	font-size: 1.077em;
	border-color: #ffffff;
	height: 30px;
	color: #777;
}

textarea { height: 200px; }
input[type="submit"] { -webkit-font-smoothing: antialiased; background: #181818; color: #faa61a; font: 900 1.5em "proxima-nova",sans-serif; border: 0; margin: 0; padding: 11px 43px; }

.mandatory { font-weight: bold; color: #e78200; }

/* layout */

#header { background: url('/images/bg_header.png') repeat-x top; height: 164px; position: relative; z-index: 10; }
#header>div { width: 960px; margin: 0 auto; padding: 23px 0 0; position: relative; }

#nav>ul {  position: absolute; margin: 0; padding: 0; list-style: none; font: 1.077em/1 "proxima-nova",sans-serif; -webkit-font-smoothing: subpixel-antialiased; }
#nav li { float: left; margin: 0 0 0 43px; background: none; padding: 0; }
#nav li:first-child { margin-left: 0; }
#nav a { color: #666; display: block; }
#nav a:focus, #nav a:hover,
#section_machines #nav_machines>a, #section_machine #nav_machines>a,
#section_parts #nav_parts>a,
#section_finance #nav_finance>a,
#section_service #nav_service>a,
#section_depot_finder #nav_depot_finder>a,
#section_home #nav_home>a,
#section_about #nav_about>a,
#section_news #nav_news>a,
#section_contact #nav_contact>a,
#section_register #nav_register>a { color: #fff; text-decoration: none; }
ul#main_nav { top: 104px; left: 0; font-size: 1.143em; }
#main_nav a { padding: 21px 0 0; height: 31px; }
ul#top_nav { top: 48px; right: 0; }
#top_nav>li { margin-left: 25px; background: none; padding: 0; }

#content { margin: -7px 0 0; padding: 36px 0 0; background: no-repeat top; }
#content>.content_wrap { width: 960px; margin: 0 auto; }
#content>.content_wrap:after, .cf:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }

#content_main { background: #fff; float: left; padding: 48px 40px; width: 514px; }
#content_sub { width: 304px; float: right; margin: 588px 0 0; }

#footer { background: #222 url('/images/bg_footer.png') repeat-x bottom; font-size: .923em; line-height: 1.667; color: #ccc; }
#footer>div { width: 960px; margin: 0 auto; padding: 44px 0 0; }
#footer_content { height: 332px; padding: 64px 0 0; position: relative; }

#news { float: left; width: 390px; margin: 0 100px 0 0; }
#sitemap { float: left; width: 220px; margin: 0 25px 0 0; }
#twitter { float: left; width: 195px; padding: 15px; background: #353535; position: relative; }
#footer h2 { color: #e5991b; font-size: 1.25em; line-height: 1; text-transform: uppercase; }
#footer a { color: #e5991b; }

#news h3, #news .date { margin: 0; font-size: 1em; }

#sitemap>ul { width: 50%; float: left; line-height: 1.42; }
#sitemap li { background: none; padding: 0; margin: 0; }

#twitter:after { content: " "; width: 0; height: 0; border: solid; border-width: 8px 10px; border-color: #353535 transparent transparent #353535; position: absolute; bottom: -16px; left: 0; }
#twitter>h2 { padding: 4px 0 4px 36px; background: url('/images/icon_twitter.png') no-repeat 0 0; }
#twitter>blockquote { color: #999; }

#footer_nav { position: absolute; left: 0; bottom: 50px; width: 100%; color: #777; }
#footer_nav>ul { margin: 0; line-height: 1; }
#footer_nav li { float: left; padding: 0 0 0 10px; margin: 0 0 0 10px; border-left: 1px solid #3c3a45; background: none; }
#footer_nav li:first-child { margin: 0; padding: 0; border: 0; }
li#kyan { margin: 0; padding: 0; border: 0; float: right; }
#footer_nav a { color: #777; }


/* sections */

.panel { background: #181818; color: #888; padding: 22px; margin: 0 0 35px; }
.panel>h2 { color: #fff; }
.panel>p { font-size: 1.077em; }

.inverted_panel { background: #ffffff; border: 5px solid #eaeaea; color: #444;}
.inverted_panel h2 { color: #222; }
.inverted_panel p { width: 155px; font-size: 1em; }
#parts_panel { background:#fff url('/images/bg_panel_2.png') no-repeat 90% 40%;  }
#service_panel { background:#fff url('/images/bg_panel_4.png') no-repeat 90% 40%;  }


#interested_panel { background: #181818 url('/images/bg_contact_box.png') no-repeat 90% 40%; }
.tel { font: 900 1.288em/1.5 "proxima-nova",sans-serif; display: block; color: #fff;  -webkit-font-smoothing: antialiased; }

/* pages */

#depot_finder { background: #181818; padding: 30px 40px 0 30px; margin: 0 0 56px; height: 85px; color: #777; font: 1.833em/1.136 "proxima-nova",sans-serif; }
#depot_finder h2 { text-align: center; margin: 0; width: 560px; float: left; color: #ffa11c; font-weight: 900; font-size: 1.364em; text-transform: uppercase; margin-bottom: 5px; }
#depot_finder p { text-align: center; margin: 0; width: 560px; float: left; font: 1em/1em "proxima-nova",sans-serif; }
#depot_finder .tel { display: inline; color: #fff; font: 900 1em/1em "proxima-nova",sans-serif; }
#depot_finder label { position: absolute; left: -9999px; }

#depot_finder div { float: left; width: 520px; margin:0; }
#depot_finder input { vertical-align: middle; }
#depot_finder input.text { border: 1px solid #262626; background: #393939; font: 1em sans-serif; padding: 11px; width: 267px; color: #777777; }

#section_service #content { background-image: url('/images/bg_service.jpg'); }
#section_contact #content { background: #fff; }
#section_contact #content_main { padding: 0; width: 550px; }
#section_contact #content_sub { margin-top: 0; }
#form_selection { margin-bottom:2px; overflow: hidden;margin-bottom:25px; border-bottom: 2px solid #fff;}
#form_selection div { float: left; margin-right: 20px;}
#form_selection h2 { color: #444;}
#form_selection div label { float: left; margin-right:5px; }

#section_register #content { background: #fff url('/images/bg_register.jpg') no-repeat 50% 95px; }
#section_register #content_main { padding: 0; width: 550px; }

#section_finance #content { background-image: url('/images/bg_finance.jpg'); }

#section_parts #content { background-image: url('/images/bg_parts.jpg'); }

/* homepage */

#section_home #content { padding:0;  }
#section_home #content_main { padding:48px 0; width: 960px;  }

#home_gallery { height: 564px; position: relative; }
#home_gallery .slides { overflow: hidden; height: 563px; position: absolute; left: 0; right: 0; }
.slides>ul { margin: 0; padding: 0; list-style: none; zoom: 1;  }
.slides>ul:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.slides li { float: left; margin: 0; background-repeat: no-repeat; background-position: 50% 30%; padding: 36px 0 0; }
.slides .button>a { background: #181818; color: #FAA61A; }
.slides .button>a:focus, .slides .button>a:hover { background: #303030;}

#home_gallery .slides div { padding: 55px 0px 0 0px; width: 960px; height: 472px; margin: 0 auto; position: relative; }
#home_gallery  h2 {  font-weight: bold; color: #222222; font-size: 4.769em; line-height: 0.952em; margin: 0 0 30px; text-transform: uppercase; }
#home_gallery  h2 strong { color: #ffffff;}
#home_gallery  .intro { margin-bottom: 50px ;}
#home_gallery .button>a { -webkit-font-smoothing:antialiased; font-weight: 900; font-size: 1.5em;  }
#home_gallery cite { display: block; position:absolute; font-size:0.769em; color: #222; bottom: 30px; right: 0; font-style: normal; }

/* Slides */

li#slide_1 { background-image: url('/images/bg_homepage_slide_1.jpg'); background-position: 50% 30%; }
li#slide_2 { background: #232323 url('/images/bg_homepage_slide_2.jpg') no-repeat 50% 30%;  }
#home_gallery #slide_2 h2 { color: #ffffff;}
#home_gallery #slide_2 cite { color: #ffffff;}
#home_gallery #slide_2 .button > a { background:#ffa11c; color:#232323;  }
li#slide_3 { background-image: url('/images/bg_homepage_slide_3.jpg'); background-position: 50% 0%; }
#home_gallery li#slide_3 div { padding-left:43%; }

.markers { padding: 0; list-style: none; position: absolute; left: 50%; z-index: 100; bottom: 30px; margin: 0; }
.markers>li { float: left; margin: 0 0 0 7px; background: none; padding: 0; }
.markers>li:first-child { margin-left: 0; }
.markers>li>a { background: url('/images/gallery_marker.png'); display: block; width: 10px; height: 10px; text-indent: -9999px; overflow: hidden; }
.markers>.current>a { background: url('/images/gallery_marker_active.png');  }

.slider_prev { left:0; top:37%; position:absolute; }
.slider_next { position:absolute; right:0; top:37%; }

.slider_prev>a, .slider_next>a { display: block; text-indent: -9999px; height: 127px; width: 127px; background: url('/images/button_prev_l.png'); overflow: hidden; opacity: .75; }
.slider_next>a { background-image: url('/images/button_next_l.png'); }

.slider_prev a:focus, .slider_prev a:hover, .slider_next a:focus, .slider_next a:hover { opacity: 1; }

/* panel slider */

#panel_slider { height:233px; position:relative; background: #f0f0f0; padding: 46px 0;  }
#panel_slider .markers { display: none; }
#panel_slider .slides { overflow:hidden; height:233px; width:960px; margin:0 auto;  }
#panel_slider ul { width:8600px; margin: 0; padding: 0; }
#panel_slider li { margin: 0 24px 0 0; width: 160px; background: #fff no-repeat 188px 53px; border: 5px solid #eaeaea; height: 205px; padding: 18px 116px 0 18px; }
li#panel_1 { background-image: url('/images/bg_panel_1.png'); }
li#panel_2 { background-image: url('/images/bg_panel_2.png'); }
li#panel_3 { background-image: url('/images/bg_panel_3.png'); }
#panel_slider>.slider_prev>a, #panel_slider>.slider_next>a { width: 87px; height: 87px; background-image: url('/images/button_prev.png'); }
#panel_slider>.slider_next>a { background-image: url('/images/button_next.png'); }

.machine_promo { width: 480px; float: left; }
.machine_promo>h2 {	float: left; margin-right: 20px; }
.machine_promo>.more { margin-top: 4px; }
.machine_promo>.machine_list { margin: 0; width: 480px; background: none; }
.machine_promo>.machine_list li {	width: 220px; margin: 0 20px 0 0; padding: 0; }

/* Product index */

#section_machines_index #content, #section_used_machines_index #content, #section_attachments_index #content { padding: 0;}

#section_machines_index #content,
#section_used_machines_index #content,
#section_generators_index #content,
#section_attachments_index #content { background: #fff;}

#machine_sorting { margin: -7px 0 35px; padding: 30px 0 20px 0; background:#f0f0f0; position: relative; }
#machine_sorting:after { content: " "; width: 0; height: 0; border: solid; border-width: 13px 17px 0; border-color: #f0f0f0 transparent transparent; position: absolute; bottom: -13px; left: 50%; margin: 0 0 0 -17px; }
#machine_sorting>ul { padding:0; width:960px; margin:0 auto; list-style:none; overflow:hidden; }
#machine_sorting li { width:182px; height:20px; padding-right:10px; float:left; margin-bottom:10px; background: none; padding: 0; }
#machine_sorting a { display:block; color:#444; padding-left:28px; background:url('/images/bg_machine_sorting.png') no-repeat 0 0;  }
#machine_sorting .selected { background-image: url('/images/bg_machine_sorting_active.png');  }

.machine_list { background:url('/images/bg_machine_list.png') repeat-y 24px 0; margin: 0 0 60px -24px; width: 988px; font-weight: bold; font-size: 1.077em; line-height: 1.288; -webkit-transition: height .8s; -moz-transition: height .8s; -o-transition: height .8s; -ms-transition: height .8s; transition: height .8s; }
.machine_list ul { padding: 0; margin: 0; list-style: none; }
.machine_list li { float:left; width: 223px; height: 256px; background: none; padding: 0 0 0 24px; margin: 0; -webkit-transition: -webkit-transform .8, opacity .8s; -moz-transition: -moz-transform .8s, opacity .8s; -o-transition: top .8s, left .8s, opacity .8s; -ms-transition: -ms-transform .8s, opacity .8s; transition: transform .8s, opacity .8s; }
.machine_list a { display:block; color:#444; text-align:center;  }
.machine_list img { display: block; }

#breadcrumb { margin-bottom:30px; list-style:none;  }
#breadcrumb li { float:left; display:block; height:32px; line-height:32px;  }
#breadcrumb a:hover { text-decoration: none; }

#breadcrumb .home a { color:#181818; font-weight:bold; padding:0px 35px 0 25px; display:block; background:#f0f0f0 url('/images/bg_active_breadcrumb.png') no-repeat 100% 0;  }
#breadcrumb li a { color:#e78200; padding:0px 40px 0 25px; display:block; background:  url('/images/bg_breadcrumb.png') no-repeat 100% 0;  }

#breadcrumb .home span { color:#181818; font-weight:bold; padding:0px 35px 0 25px; display:block; background:#f0f0f0 url('/images/bg_active_breadcrumb.png') no-repeat 100% 0;  }
#section_machines_index #breadcrumb .home span,
#section_used_machines_index #breadcrumb .home span,
#section_generators_index #breadcrumb .home span,
#section_attachments_index #breadcrumb .home span { padding-right: 30px; background: transparent url('/images/bg_active_breadcrumb.png') no-repeat 96% 0; }

#breadcrumb .current a { background:url('/images/bg_breadcrumb_end.png') no-repeat 100% 0;  }

/* Product sorting subnav */
#machine_sorting { padding-bottom:15px;}
#machine_sorting .hidden { display: none; }
#machine_sorting .subnav { border-top: 1px solid #fff; margin-top:10px;padding-top:20px;}
#machine_sorting>.subnav>ul { padding:0; width:960px; margin:0 auto; list-style:none; overflow:hidden; }

/* Single machine */

#machine_title { font-size: 4.308em; line-height: 1; }
#section_machine #content, #section_used_machine #content,
#section_generator #content,
#section_attachment #content { background: #fff; padding: 25px 0 0; }

#machine_info { width:442px; float:left; margin-bottom:40px; overflow:hidden;  }
#machine_info .gallery { list-style:none; margin:0; padding:20px 0 0;   }
#machine_info .gallery li { list-style:none; float:left; margin: 0 6px 6px 0; background: none; padding: 0;  }
#machine_info .intro { padding-right:0;  }
#machine_info .gallery li a { display:block; width:90px; height:65px; border:2px solid #c9c9c9;  }
#machine_info .gallery li a:hover { border-color:#ffa11c;  }
#machine_image { margin:30px 0px; float:right;  }
#machine_image figcaption { margin-top:25px;  }

#secondary_info { overflow:hidden;  }
#secondary_info>#content_sub { margin-top:0;  }
#features { float:left; width:573px;  }
#features h2 { margin-bottom:25px;  }
#features h2 span { font-size:.636em; padding-left:10px; margin-left:5px; border-left:1px solid #505050; font-family:"Helvetica Neue",Arial,sans-serif;  }

#downloads ul { padding:0; margin:0;  }
#downloads { padding-bottom:0;  }
#downloads ul li { list-style:none; border-top:1px solid #eaeaea; padding:12px 10px; background: none; margin: 0; }
#downloads ul li:first-child { border-top:none; padding-top:0;  }
#downloads .pdf { display:block; line-height:27px; font-size:1.077em; font-weight:bold; background:url('/images/button_dl.png') no-repeat 100% 50%;  }
#downloads .pdf:hover { text-decoration:none;  }
#downloads .pdf img { vertical-align:bottom; padding-right:7px;  }
.sec_panel { border:3px solid #eaeaea; padding:12px; margin-bottom:35px;  }

#attachments { margin-bottom: 40px;}

.desc_gallery { margin-left:-27px; padding-top:10px;  }
.desc_gallery li { background:none; padding:0; width:170px; margin-left:27px; margin-bottom:30px; float:left;  }
.desc_gallery li img { margin-bottom:15px;  }
.desc_gallery .row_leader { clear:left;  }

/* News */

#section_news #content { background: #fff; }
#section_news #content_main { padding: 0; width: 550px; }
#section_news #content_sub { margin-top: 0; }

.news_panel { margin-bottom:50px;  }
.news_panel h2 { margin-bottom:20px;  }
.news_panel li { background:none; padding:0; font-size:1.077em; font-weight:bold; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #eaeaea;  }

#article_list .news_article { border-bottom:2px solid #eaeaea; padding: 0 0 10px; margin: 0 0 30px;  }
.news_article>h2 { margin-bottom: 5px; font-size: 2.308em; -webkit-font-smoothing: subpixel-antialiased; }
.news_article>h2>a { color: #222; }
.news_article>h2>a:focus, .news_article>h2>a:hover { color: #ffa11c; }
.news_article img { margin-bottom:25px;  }

.pagination { zoom: 1; float: right; margin-top: 0; }
.pagination:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.pagination span { background:none; float:left; padding:0; margin-left:7px; display:block; width:33px; height:32px; background:#f0f0f0; color:#f08800; font-size:1.077em; font-weight:bold; text-align:center; line-height:32px; }
.pagination .current { background: #ffa11c; color: #222;  }

.pagination .first { background:url('/images/button_pagination_first.png') no-repeat 0 0; text-indent:-9999em;  }
.pagination .prev { background:url('/images/button_pagination_prev.png') no-repeat 0 0; text-indent:-9999em;  }
.pagination .next { background:url('/images/button_pagination_next.png') no-repeat 0 0; text-indent:-9999em;  }
.pagination .last { background:url('/images/button_pagination_last.png') no-repeat 0 0; text-indent:-9999em;  }
.pagination .viewall { float: right; margin-right: 30px; padding-top:5px; }

/* About */

#section_about #content { background-image:url('/images/bg_about.jpg');  }
#section_about #content_main p { width:450px;  }
#section_about #content_main .desc_gallery p { width:170px;  }
#profile_gallery { margin-top:80px; overflow:hidden; width:579px; float:left; margin-left:-25px;  }
#profile_gallery h2 { margin-left:25px; margin-bottom:30px;  }
#profile_gallery li { margin-left:25px; margin-bottom:35px; background:none; padding:0; float:left; width:167px;  }
#profile_gallery li h3 { margin:0;  }
#profile_gallery li img { margin-bottom:10px;  }
#profile_gallery .title { font-style:italic;  }
.quote_panel { background:#ffa11c url('/images/bg_quote_panel.png') no-repeat bottom left; color:#222; padding:30px 40px 70px 25px; margin-bottom:50px;  }
.quote_panel>blockquote { padding: 60px 0 0; font-size: 1.462em; line-height: 1.211; background: url('/images/bg_quote_box.png') no-repeat 0 0;  }
.quote_panel cite { font-style: normal; }

/* depot finder */

#section_depot_finder #content { background: #fff; }
#map { width: 960px; height: 480px; margin: 0 0 15px; }

#map_controls { text-align: center; }
#map_controls label { vertical-align: middle; display: inline; font: 2em "proxima-nova",sans-serif; letter-spacing: -.04em; margin: 0 40px 0 0; }
#map_controls input { vertical-align: middle; }
#map_controls .text { width: 250px; font-size: 1.462em; padding: 14px; }

#depots>li { float: left; width: 270px; margin: 0 0 30px 75px; padding: 0; background: none; font-size: 1.077em; }
#content_sub>#depots>li { float: none; width: auto; margin-left: 0; }
#depots>.row_leader { clear: left; margin-left: 0; }
.address { font-size: 1.077em; }
#depots h3, #depots p, .address>h3, .address>p { margin: 0; font-size: 1em; }
#depots .tel, .address>.tel { font-weight: bold; font-family: "Helvetica Neue",Arial,sans-serif; color: #444; }

/* My JCB */

/* Dashboard */

#section_myjcb_dashboard #content { background:#fff;  }
#section_myjcb_dashboard_machine #content { background:#fff;  }
#myjcb_nav { height:57px; background:url('/images/bg_myjcb_nav.png') repeat-x bottom left; margin-bottom:36px; padding-left:25px; position:relative;  }
#myjcb_nav ul { padding:0; overflow:hidden;  }
#myjcb_nav li { display:block; float:left; background:none; margin:0 10px 0 0; padding:0;  }
#myjcb_nav li a { -webkit-font-smoothing:subpixel-antialiased; text-transform:uppercase; color:#181818; letter-spacing:1px; padding:20px 40px 0; height:35px; display:block; background:#e8e8e8; border:1px solid #e8e8e8; border-bottom-color:#dbdbdb;  }
#myjcb_nav li a:hover { background:#f1f1f1;  }
#myjcb_nav .active a:hover { background:#fff;  }
#myjcb_nav .active a { background:#fff; border:1px solid #dbdbdb; border-bottom-color:#fff;  }
#myjcb_nav li a span { float:left;  }
#myjcb_nav li p { margin-left:15px; margin-right:-20px; display:block; float:left; padding-left:10px; line-height:20px; height:20px; background:url('/images/bg_myjcb_fleet_nav_l.png') no-repeat top left;  }
#myjcb_nav li strong { font-size:12px; display:block; height:20px; font-weight:normal; padding-right:10px; letter-spacing:0; background:url('/images/bg_myjcb_fleet_nav_r.png') no-repeat top right;  }
#myjcb_nav .jcb_search { position:absolute; top:0; right:0; height:40px; font-size:16px;  }

.jcb_search .text { float:left; margin:0 10px 0 0; width:200px; padding:9px 11px; color:#888;  }
#myjcb_nav form { margin:0; padding:0; background:none;  }
.jcb_search label { position:absolute; left:-9999px;  }
#fleet_map { width: 960px; height: 480px; margin: 0 0 15px; }

/* Fleet */

#my_fleet table  { width:100%; border-collapse:collapse; margin-bottom: 40px; }
#my_fleet table tr  { background-color:#fff;  }
#my_fleet table tr:hover  { background-color: #ffefc9; }
#my_fleet table .header { background-color: #ffa11c; }
#my_fleet table .header th { padding: 9px 10px; text-align: left; }
#my_fleet table .header:hover  { background-color: #ffa11c; }
#my_fleet table td { display:table-cell; padding:0px; }
#my_fleet table td a { text-decoration:none;  display:block; height:100%; padding: 9px 10px; color: #222; }
#my_fleet table th.service { padding-left: 0; }

#my_fleet table .urgent { padding-left:15px; background:url('/images/bg_myjcb_fleet_urgent.png') no-repeat 0 50%;  }
#my_fleet table .approaching { padding-left:15px; background:url('/images/bg_myjcb_fleet_approaching.png') no-repeat 0 50%;  }
#my_fleet table .good { padding-left:15px; background:url('/images/bg_myjcb_fleet_good.png') no-repeat 0 50%;  }
#my_fleet table .odd { background:#f3f3f3;  }
#fleet_status { border-bottom:2px solid #eaeaea; margin-bottom:20px; overflow:hidden;  }
#fleet_status ul { overflow:hidden; float:left; margin:0 0 30px;  }
#fleet_status li { margin:0; padding-left:20px; margin-left:-2px; margin-right:40px; float:left; background:none; border-left:2px solid #eaeaea; font-size:1.077em;  }
#fleet_status li p { padding-left:27px; margin-bottom:5px;  }
#fleet_status li h3 { font:900 3.692em/1em "proxima-nova",sans-serif; margin-bottom:0px;  }
#fleet_status .good p { background:url('/images/bg_myjcb_fleet_good_large.png') no-repeat 0 50%;  }
#fleet_status .approaching p { background:url('/images/bg_myjcb_fleet_approaching_large.png') no-repeat 0 50%;  }
#fleet_status .urgent p { background:url('/images/bg_myjcb_fleet_urgent_large.png') no-repeat 0 50%;  }
#fleet_status .button { float:right;  }
#fleet_status .service_link, #machine_details .service_link { margin-top:5px; display:inline-block; padding:8px 30px 8px 60px; background:#181818 url('/images/icon_service.png') no-repeat 6% 50%; color:#faa61a; font-size:1.615em; font-weight:bold; font-family:"proxima-nova",sans-serif;  }
.table_sorting { float:right; overflow:hidden; margin-bottom:20px; width:310px;  }
.table_sorting select { float:right; width:240px;  }
.table_sorting label { float:left; font-size:1.077em; padding-top:5px; }

/* Account Details */

#my_account #content_main { float: left; width: 550px; padding: 0; }
#my_account #content_sub { margin-top: 0;}
#account_details { background: #ffefc9; margin-bottom: 30px; }
#account_details dl { margin: 0; padding: 30px; font-size:1.077em; overflow: hidden; }
#account_details dt { font-weight: bold; float: left; width: 130px; clear: left;}
#account_details dd { float: left; margin-bottom: 15px; }
#my_account .button { margin-bottom: 10px;}
#my_account .button a { background: #181818; color:#FFA11C; padding: 7px 30px;}

#machine_details { width: 365px; float: left; position: relative; margin-bottom: 30px;}
#machine_details .service_notification { margin: 0; position: absolute; top: 0; right: 0; width: 100px; height: 100px; background: url('/images/bg_service_urgent.png') no-repeat 0 0; }
#machine_details .service_notification a { display: block; text-indent: -9999px; display: block; width: 100px; height: 100px; }

#machine_details dl { margin: 20px 0 20px; font-size:1.077em; overflow: hidden; }
#machine_details dt { font-weight: bold; float: left; width: 130px; clear: left;}
#machine_details dd { float: left; margin-bottom: 15px; }

#single_machine #map { width: 469px; float: right; }

/* Single pages */

#section_accessibility #content,
#section_terms_of_use #content,
#section_privacy_policy #content {
	background: white;
}

#section_accessibility #content_sub,
#section_terms_of_use #content_sub,
#section_privacy_policy #content_sub {
	margin-top: 0;
}

#section_accessibility #content_main,
#section_terms_of_use #content_main,
#section_privacy_policy #content_main {
	padding: 0;
	width: 550px;
	padding-bottom:60px;
}

/* For testing - needs refining please */
.machine_list li.hidden{display:none;}
/* For testing - needs refining please */